<!-- Etiqueta del componente encabezdo -->
<app-encabezado></app-encabezado>
<!-- Fin de la etiqueta del componente encabezado -->

<!-- Etiqueta del componente acerca de -->
<app-acerca-de></app-acerca-de>
<!-- Fin de la etiqueta del componente acerca de -->

<!-- Etiqueta del componente experiencia -->
<app-experiencia></app-experiencia>
<!-- Fin de la etiqueta experiencia -->

<!-- Etiqueta de hard skills & soft skills -->
<app-hys></app-hys>
<!-- Fin de la etiqueta de hard skills & soft skills -->

<!-- Etiqueta proyectos -->
<app-proyectos></app-proyectos>
<!-- Fin de la etiqueta proyectos -->

<!-- Etiqueta educacion -->
<app-educacion></app-educacion>
<!-- Fin de la etiqueta educacion -->