<div class="all">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="formulario">
        <div>
            <h2>Nueva experiencia</h2>
            <label for="nombreE">Nombre de la empresa</label>
            <input class="controls" type="text" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required />
        </div>
        <div>
            <label for="descripcionE">Descripción de las tareas</label>
            <input class="controls" type="text" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required />
        </div>
        <button class="buttons">Agregar Nueva Experiencia</button>
    </form>
</div>